<html>
	<%- include ../layouts/head.ejs %>
	<body>
		<%- include ../layouts/navbar.ejs %>
		<center>
			<h1><%= title %> of <%= name %></h1>
			<div>
				<a href="/">Home</a> | 
				<a href="/todo/add">Add New Task</a> | 
				<a href="/todo">Task List</a>
			</div><br>