* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: monospace;
    background: #eae7dc;
}

nav {
	border-bottom: 1px solid lightgrey;
}

#google_keep{
	width: 50px;
	height: 50px;
}

.boxmodel {
    background-color:white;
    opacity:0.9;
    height:500px;
    margin-top:50px;
    border: 1px solid;
    /* border-style: none; */
    border-radius:3%;
    width:100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form {
    padding:10px;
    text-align:left;
    margin-left:10px;
    margin-right:10px;
    color:#00FFF0;
}