<!DOCTYPE html>
<html>
	<%- include ../layouts/head.ejs %>
	<body>
		<%- include ../layouts/navbar.ejs %>
		<div class="container-fluid">
            <div class="row">
                <div class="col-sm-1 col-md-2 col-xl-3">
                </div>
                <div class="col-sm-10 col-md-8 col-xl-6 boxmodel"><br><center><h2 style="color:#002B66;">Create an account</h2></center>
                	<% if (message.length > 0) { %>
                	    <div class="alert alert-success col-sm-12"><%= message %></div>
                    <% } %>
                    <form id="myform" action="/user/signup" method="POST">
                        <div class="form form-group">
                            <label for="name">Full Name:</label>
                            <input type="text" class="form-control" style="width:100%;" id="name" placeholder="Enter your name" name="name">
                        </div>
                        <div class="form form-group">
                            <label for="usrname">Username:</label>
                            <input type="text" class="form-control" style="width:100%;" id="usrname" placeholder="Enter a username" name="usrname">
                        </div>
                        <div class="form form-group">
                            <label for="pwd">Password:</label>
                            <input type="Password" class="form-control" style="width:100%;" id="pwd" name="pwd" placeholder="Enter a valid Password">
                        </div>
                        <center>
                            <button type="submit" value="Submit" style="padding:1em;font-size:1em;" class="reglogin btn btn-outline-primary">Submit</button>
                        </center>
                    </form>
                </div>
                <div class="col-sm-1 col-md-2 col-xl-3">
                </div>
            </div>
        </div>
	</body>
</html>