<!DOCTYPE html>
<html>
	<title><%= title %></title>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Add icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/login.css">


		<style>
			@media screen and (min-width:1000px) {
			    body {
			        background-image:url("imgs/rnx19.jpg");
			        background-size:cover;
			        background-repeat: no-repeat;
			    }
			}  

			@media screen and (min-width:300px) and (max-width:1025px) {
			    body {
			        background-image:url("imgs/rnx19.jpg");
			        background-size:cover;
			        background-repeat: no-repeat;
			    }
			} 
		</style>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light sticky-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<a href="index.html" class="navbar-brand"><img src="imgs/google_keep.png" alt="<%= title %>" id="google_keep"> <%= title %></a>
			</div>
		</nav>
		<div class="container-fluid">
            <div class="row">
                <div class="colside">
                </div>
                <div class="boxmodel colmid"><br><center><h2 style="color:#002B66;">Create an account</h2></center>
                    <form id="myform" action="/signup" method="POST">
                        <div class="form form-group">
                            <label for="name">Full Name:</label>
                            <input type="text" class="form-control" style="width:100%;" id="name" placeholder="Enter your name" name="name">
                        </div>
                        <div class="form form-group">
                            <label for="usrname">Username:</label>
                            <input type="text" class="form-control" style="width:100%;" id="usrname" placeholder="Enter a username" name="usrname">
                        </div>
                        <div class="form form-group">
                            <label for="pwd">Password:</label>
                            <input type="Password" class="form-control" style="width:100%;" id="pwd" name="pwd" placeholder="Enter a valid Password">
                        </div>
                        <center>
                            <button type="submit" value="Submit" style="padding:1em;font-size:1em;" class="reglogin btn btn-outline-primary">Submit</button>
                        </center>
                    </form>
                </div>
                <div class="colside">
                </div>
            </div>
        </div>
	</body>
</html>